.container {
    display: inline-grid;
    grid-template-columns: 20px 20px 20px 20px;
    column-gap: 8px;
}

.link {
    border-radius: 10%;

    :hover {
        background-color: #ffffffaa;
        border-radius: 100%;
    }
}

.link > img {
    width: 20px; 
    height: 20px;
    padding: 1px;
    object-fit: scale-down;

}
