.container {
    display: inline-grid;
    grid-template-columns: 20px 20px 20px 20px;
    column-gap: 2px;
}

.link {
    border: solid 1px black;
    border-radius: 10%;

    :hover {
        background-color: white;
    }
}

.link > img {
    width: 20px; 
    height: 20px;
    padding: 1px;
    object-fit: scale-down;

}